body {
  padding: 1em;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.threeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
}


.twoGrid {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}

.twoGrid > .left {
  grid-column: 1;
}

.twoGrid > .right {
  grid-column: 2;
}

.twoGrid > .spread {
  grid-column: 1 /span 2;
}

.threeGrid > .left {
  grid-column: 1;
}

.threeGrid > .mid {
  grid-column: 2;
}

.threeGrid > .right {
  grid-column: 3;
}

.threeGrid > .spread {
  grid-column: 1 /span 3;
}

#business {
  grid-column: 1;
  grid-row: 1;
  padding: 1em;
  background-color: #efe;
}

#user {
  grid-column: 2;
  grid-row: 1;
  padding: 1em;
  background-color: #eff;
}

#policy {
  grid-row: 2;
  grid-column: 1;
  padding: 1em;
  background-color: #fef;
}

#score {
  grid-row: 2;
  grid-column: 2;
  padding: 1em;
  background-color: #ffe;
}

select {
  width: 15em;
}

input[type=text] {
  width: 15em;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px 5px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}



li.dots>ul {
  list-style-type: circle;
}


li.line {
  border-left: 1px solid #eee;
}

input[type=range] {
  height: 1em;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

pre {
overflow: auto;
}

#userScore {
  font-size: 5em;
  padding: 1em;
  color: black;
}